
calendar-multi {
    svg {
        height: 16px;
        width: 16px;
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5;
      }  
      path {
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      &::part(header){
        width: 80%;
        display: flex;
        place-self: center;
      }
    background-color: white;
    border-radius: 16px;
    padding: 5px;
    width: 100%;
    max-width: 370px;
    display: flex;
    justify-content: center;
}

calendar-month{
    width: 100%;
}



  


